@model VoxTenouApp.Models.User.CreateUserDTO;
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AppBroker</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AppBroker.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="container mt-5">
        <div class="row d-flex justify-content-center">
            <div class="col-md-6">
                <div class="card px-5 py-5">
                    @using (Html.BeginForm("Register", "User", HttpMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-floating mb-3">
                            @Html.EditorFor(s=>s.firstName,new {htmlAttributes = new {@autocomplete="off",@class="form-control",@type="text",@placeholder="name@example.com"} })
                            <label for="firstName">First Name</label>
                            @Html.ValidationMessageFor(m => m.firstName, "",new {@class="text-danger" })
                        </div>
                        <div class="form-floating mb-3">
                            @Html.EditorFor(s=>s.lastName,new {htmlAttributes = new {@autocomplete="off",@class="form-control",@type="text",@placeholder="name@example.com"} })
                            <label for="lastName">Last Name</label>
                            @Html.ValidationMessageFor(m => m.lastName, "",new {@class="text-danger" })
                        </div>
                        <div class="form-floating mb-3">
                            @Html.EditorFor(s=>s.email,new {htmlAttributes = new {@autocomplete="off",@class="form-control",@type="email",@placeholder="name@example.com"} })
                            <label for="email">Email address</label>
                            @Html.ValidationMessageFor(m => m.email, "",new {@class="text-danger" })
                        </div>
                        <div class="form-floating mb-3">
                            @Html.EditorFor(s=>s.password,new {htmlAttributes = new {@autocomplete="off",@class="form-control",@type="password",@placeholder="******"} })
                            <label for="password">Password</label>
                            @Html.ValidationMessageFor(m => m.password, "",new {@class="text-danger" })
                        </div>
                        <div class="form-floating mb-3">
                            @Html.EditorFor(s=>s.repeatPassword,new {htmlAttributes = new {@autocomplete="off",@class="form-control",@type="password",@placeholder="******"} })
                            <label for="repeatPassword">Repeat Password</label>
                            @Html.ValidationMessageFor(m => m.repeatPassword, "",new {@class="text-danger" })
                        </div>
                        <div class="text-center mb-3">
                            <button type="submit" value="submit" class="btn btn-primary" style="width:100%">Sign Up</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>